main {
  display: flex;
  justify-content: right;
}
h1 {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 3ch;
  list-style: none;
}
.testimonial {
  background-color: antiquewhite;
  border-color: black;
  border-width: 2px;
  border-style: double;
}
.brand {
  font-style: italic;
  color: red;
  font-size: 30px;
}
header {
  display: flex;
  align-items: center;
  gap: 300px;
}
button {
  background-color: red;
  color: white;
  width: 100px;
  height: 50px;
  margin-right: 50px;
  border-radius: 20px;
}
footer {
  display: flex;
  justify-content: end;
  color: white;
  background-color: black;
}
